<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start %><br>
    <%= f.select :start_id, @starts.map{ |s| [s.name, s.id] } %>
  </div>
  <div class="field">
    <%= f.label :end %><br>
    <%= f.select :end_id, @ends.map{ |e| [e.name, e.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
