<p id="notice"><%= notice %></p>

<h2><%= link_to "#{@route.start.name}", @route.start %> to <%= link_to "#{@route.end.name}", @route.end %></h2>
<h4><%= "#{@distance} miles #{@direction} (straight line)" %></h2>



<br>
<%= image_tag @map_str %>
<br>

<h3>Times</h3>
<table cellpadding="3" border="1">
  <thead>
    <tr>
      <th>Minutes</th>
      <th>Seconds</th>
    </tr>
  </thead>
  <tbody>
    <% @route.route_times.each do |time| %>
      <% if !time.new_record? %>
        <tr>
          <td><%= time.minutes %></td>
          <td><%= time.seconds %></td>
          <td><%= link_to 'Destroy', time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    <% end %>
    <br>
  </tbody>
</table>

<h3>Create New Time</h3>
<%= render 'route_times/form' %>
<br>

<%= link_to "Edit", edit_route_path(@route) %> |
<%= link_to "Back", routes_path %>
