<p id="notice"><%= notice %></p>

<div class="center">
<h1>Routes</h1>

<table align="center">
  <thead>
    <tr>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>

  <tbody>
    <% @routes.each do |route| %>
      <tr>
        <td><%= route.start.name %></td>
        <td><%= route.end.name %></td>
        <td><%= link_to 'Show', route %></td>
        <td><%= link_to 'Destroy', route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Route', new_route_path %><br><br>
<%= link_to 'Starts', starts_path %><br>
<%= link_to 'Ends', ends_path %>
</div>
