<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @start.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @start.description %>
</p>
<p>
  <strong>Address:</strong>
  <%= @start.address %>
</p>
<p>
  <strong>Elevation:</strong>
  <%= @start.elevation %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @start.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @start.longitude %>
</p>

<br>
<%= image_tag @map_str %>
<br>

<h4>Routes that start here</h4>
<% @start.routes.each do |r| %>
 <%= link_to "#{r.end.name}", r %><br>
<% end %>
<br>
<%= link_to "Edit", edit_start_path(@start) %> |
<%= link_to "Starts", starts_path %>
