<p id="notice"><%= notice %></p>

<div class="center">
<h1>Starts</h1>

<table align="center">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Elevation</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @starts.each do |start| %>
      <tr>
        <td><%= start.name %></td>
        <td><%= start.address %></td>
        <td><%= start.elevation %></td>
        <td><%= start.description %></td>
        <td><%= link_to 'Show', start %></td>
        <td><%= link_to 'Edit', edit_start_path(start) %></td>
        <td><%= link_to 'Destroy', start, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Start', new_start_path %><br><br>
<%= link_to 'Ends', ends_path %><br>
<%= link_to 'Routes', routes_path %>
</div>
